/*
http://localhost:1234/

$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", "Geist Mono", sans-serif;
  /* position: relative; */
}

.hidden {
  display: none !important;
}

.container {
  max-width: 120rem;
  margin: 5rem auto;
  display: grid;
  border-radius: 22px;
  /* background-color: #f9f5f3; */
  background-color: #d3dce1;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
}

.container-1 {
  background-color: #d3c7c3;
  border-radius: 22px 0 0 22px;
}

.inner-container {
  padding: 1.2rem 2.4rem 3rem 2.4rem;
}

.container-p {
  font-size: 3.4rem;
  font-weight: 600;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  margin-left: auto;
  border: none;
  text-transform: uppercase;
  background-color: #495057;
  padding: 1.2rem 2.2rem;
  color: #fff;
  font-family: "Lucida Sans";
  cursor: pointer;
  transition: all 0.4s;
}

.add-btn span {
  font-size: 1.2rem;
}

.add-btn:hover {
  background-color: #adb5bd;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  margin-top: 2rem;
}

/* #615551 */

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(#4b3a35, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  /* width: 30rem; */
  width: 100%;
}

.search:focus {
  outline: none;
}

.search__btn span {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.search__btn span i {
  display: inline;
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}

input {
  /* padding: 1.6rem 3.4rem; */
  /* border-radius: 22px; */
  border: none;
  /* margin-top: 2.4rem; */
  outline: none;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #fbdb89;
  padding: 1.6rem 2.2rem;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #c9d597;
}

input::placeholder {
  font-size: 1.6rem;
  opacity: 80%;
  color: #868e96;
  font-style: italic;
}

.search-results {
  list-style: none;
}

.error {
  padding: 3rem;
  opacity: 75%;
  font-weight: 600;
  font-size: 1.8rem;
  color: #5e2828;
  font-family: "Nunito sans";
}

.image {
  width: 9rem;
  height: 6rem;
  /* border-radius: 50%; */
  filter: grayscale(1);
  /* object-fit: cover; */
}

/* #f1f3f5 */
.list-div {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-bottom: 2px solid #aaa;
}

/* .list-div {
  display: Grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  align-items: center;
  gap: 2rem;
} */

/* #e9ecef; */
.departure,
.flight,
.title,
.status {
  font-size: 1.4rem;
}

.flight,
.status {
  font-weight: 300;
}

.departure {
  font-weight: 300;
}

.list-link:link,
.list-link:visited {
  text-decoration: none;
  color: black;
}

.list-item {
  background-color: #e9ecef;
  transition: all 0.4s;
}

.list-item:hover {
  background-color: #ced4da;
}

/******************************/
/* PAGINATION BUTTONS */
/******************************/

.pagination {
  padding: 2rem 1.2rem;
}

.pagination-btn {
  display: inline-block;
  border: none;
  padding: 1.2rem 2.2rem;
  border-radius: 22px;
  background-color: #868e96;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 2rem;
}

.btn_prev {
  float: left;
}

.btn_next {
  float: right;
}

.pagination-btn:hover {
  background-color: #495057;
}

.pagination-btn span {
  color: #fff;
}

/*********************************/
/* FORM TO UPLOAD */
/*********************************/

.hidden-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}

.form-information {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(5px);
}
.new-flight {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 99; */
  /* backdrop-filter: blur(5px); */
  background-color: #aaa;
  box-shadow: 1px 2px 3rem #868e96;
  border-radius: 22px;
  /* max-width: 100rem; */
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pos {
  position: absolute;
  cursor: pointer;
  top: 12;
  right: 22;
  font-size: 2.4rem;
}

.hidden-form label {
  font-size: 1.7rem;
}
.flight-form {
  padding: 1.6rem 3.4rem;
  border-radius: 22px;
  margin: 2rem 0;
  border: none;
  outline: none;
  width: 30rem;
  font-size: 1.6rem;
  font-style: italic;
}

.new-flight form input::placeholder {
  opacity: 60%;
}

.upload-btn {
  background-color: #495057;
  padding: 2.2rem 3.2rem;
  border-radius: 22px;
  width: 30rem;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 1.2rem;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
}

.upload-btn:hover {
  background-color: #adb5bd;
}

/* Spinner */
.spinner i {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  animation: spin 1s linear infinite;
  opacity: 80%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 56em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* FLIGHT VIEW */

.flight-div {
  overflow: hidden;
}

.container-2 {
  overflow: hidden;
}

.flight-image {
  max-width: 100%;
  object-fit: cover;
  opacity: 60%;
  border-radius: 0 22px 0 0;
  /* position: relative; */
}

.second-div {
  /* max-width: 80rem; */
  max-width: 75rem;
  margin: 0 auto;
  max-height: 100%;
  box-shadow: 1px 2px 3rem #868e96;
  background-color: #fff;
  /* transform: translateY(-20px); */
}

.grid-container {
  padding: 3.2rem 2rem;
}

.paragraph {
  text-align: center;
  padding-top: 2rem;
  font-size: 2.2rem;
  color: black;
}

.coleur {
  color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.2rem;
  column-gap: 1rem;
}

.departure {
  grid-column: 1/2;
  grid-row: 2/3;
}
.destination {
  grid-column: 2/3;
  grid-row: 1/2;
}
.arrival {
  grid-row: 2/3;
  grid-column: 2/3;
}

.grid-container h2 {
  padding-bottom: 1.1rem;
  opacity: 80%;
  font-weight: 800;
  font-size: 1.8rem;
}

.flight-status {
  grid-row: 1/-1;
}

.grid-container p {
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.text-img p {
  font-size: 3rem;
  color: red;
  font-weight: bolder;
}

.text-img h2 {
  color: #fff;
  font-weight: bolder;
}

.bolder {
  font-weight: 600;
  font-style: italic;
  color: #122233;
}

.lower {
  opacity: 85%;
  color: black;
  /* font-weight: 500; */
}

/* .text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
